<img src="http://610homegeneva.com/wp-content/uploads/2010/03/610home-black.jpg" width="100">


<div class="page-header">
  <h1>Current Room #<%= @current_room.id %></h1>
<p><a href="/admin" class="btn btn-primary">Back to Customers Page</a></p>
</div>


<dl class="dl-horizontal">
  <dt>Height</dt>
  <dd><%= @current_room.height %></dd>

  <dt>Width</dt>
  <dd><%= @current_room.Width %></dd>


  <dt>Room type</dt>
  <dd><%= @current_room.room_type %></dd>

  <dt>Room image</dt>
  <dd><img src= "<%= @current_room.room_image %>" width="300"></dd>


</dl>
